@import "variables";

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/utilities";
$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      rfs: true,
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
  )
);
@import "~bootstrap/scss/bootstrap";


// global  use
body {
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

svg,
img {
  max-width: 100%;
}
img {
  image-rendering: -webkit-optimize-contrast;
}

// 防止圖片變形
.object-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// 自訂 vr
.customize-vr {
  flex-shrink: 0;
  background-color: $primary;
  display: inline-block;
  width: 4px;
  min-height: 1.5rem;
  margin-right: 0.75rem;
  align-self: stretch;
  border-radius: 0.625rem;
}

// input、select
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(190, 156, 124, 0.1);
}

// input 驗證
.form-control.is-invalid {
  background-image: none;
}
.invalid-feedback {
  color: $danger;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
