@import "variables";
@import "~bootstrap/scss/bootstrap";

// global  use
.errorMessage {
  color: $danger;
}
body {
  letter-spacing: 0.02em;
}

svg,
img {
  max-width: 100%;
}
img {
  image-rendering: -webkit-optimize-contrast;
}

// 防止圖片變形
.object-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// 自訂 vr
.customize-vr {
  flex-shrink: 0;
  background-color: $primary;
  display: inline-block;
  width: 4px;
  min-height: 1.5rem;
  margin-right: 0.75rem;
  align-self: stretch;
  border-radius: 0.625rem;
}

// 房間圖片高度
.roomImgHeight {
  object-fit: cover;
  width: 100%;
  height: 220px;
  @include media-breakpoint-up(md) {
    height: 240px;
  }
}
